*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../IMG/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Color blanco semi-transparente */
    z-index: -1;
}

div .titulo{
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.container{
    text-align: center;
    margin: 250px auto;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    height: 300px;
    max-width: 300px;
    border: 4px solid rgba(255,255,255,0.5);
}

.inputs{
    margin-top: 35px;
    margin-bottom: 15px;
}

.registrar{
    margin-top: 10px;
}

input{
    margin-left: 0px;
    border-radius: 8px;
    border-style: none;
    padding: 3px;
    margin: 10px 20px;
}

label{
    font-family: "Roboto", sans-serif;
}

.boton{
    background-color: #e6743d;
    text-align: center;
    color: white;
    padding: 10px;
}

a{
    color: green;
}

.container-principal{
    margin-top: 1500px;
    background-color: red;
    max-width: 500px;
    height: 400px;
    border-radius: 12px;
    margin: auto;
}
