@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #B0E4F4;
    
}


nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.logo span {
    font-weight: bold;
    padding-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 15px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 5px;
}

a:hover{
    background: #eeee;
}

nav:hover{
    width: 250px;
    transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
}


iframe {
    position: absolute;
    top: 0;
    left: 90px; /* Ajuste dinámico según el ancho del nav */
    width: calc(100% - 90px); /* Resta el ancho inicial del nav */
    height: 100vh; /* Ocupa toda la altura */
    border: none;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.5s ease; /* Transición suave */
}

nav:hover + iframe {
    left: 250px; /* Ajuste dinámico cuando el nav está expandido */
    width: calc(100% - 250px); /* Resta el ancho expandido del nav */
}
/* Estilos específicos para cada iframe */
.iframe-ver {
    background-color: #d0f0c0; /* Verde claro */
}

.iframe-ingresar {
    background-color: #f0d0c0; /* Beige claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iframe-modificar {
    background-color: #c0d0f0; /* Azul claro */
}

.iframe-eliminar {
    background-color: #f0c0c0; /* Rojo claro */
}

