body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
;
}

form {
    margin-top: 130px;
    background-color: #FFA07A; /* Fondo blanco del formulario */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto elegante */
    width: 300px; /* Ancho del formulario */
    box-sizing: border-box;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333; /* Color del texto */
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Azul bonito */
    color: white;
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
}


.form-ingresar{
    height: 350px;
    background-color: #FFDAB9	;
}

.btn-registrar{
    background-color:#3CB371 ;
}
.btn-registrar:hover{
    background-color: #2E8B57;
}

.form-eliminar{
    height: 170px;
    background-color: #FFE4E1;
}

.btn-eliminar{
    text-align: center;
    background-color: #FF0000;
}
.btn-eliminar:hover{
    background-color: #FF4D4D; /* Rojo más claro */

}

.form-buscar{
    height: 170px;
    background-color: #F5F5F5;
}
.btn-buscar:hover{
 background-color:#357ABD;
}
.form-actualizar{
    height: 330px;
}